#histogram {
    margin-top: 0.5em;
    min-height: 240px;
}
#histogram text.hist-gain {
    fill: white;
    font-weight: bold;
    text-shadow: 4px 4px #0006;
}

#sim_result {
    text-align: center;
    font-size: 16pt;
    flex-grow: 1;
}


.graphic {
    margin: 0 -1em 0 -1em;
}
.graphic svg {
    display: block;
    margin: 0 auto;
    overflow: visible
}


.mjx-chtml {
    outline: none
}

@media screen and (max-width:  600px) {
    #histogram {
        min-height: 160px !important;
    }
    #histogram text.hist-gain {
        text-shadow: 3px 3px #0006;
    }
}
